@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap");

body {
  font-family: theme("fontFamily.poppins");
  background: theme("colors.bgPrimary");
  color: theme("colors.textPrimary");
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1494px;
  margin: auto;
  box-sizing: border-box;
}

@layer components {
  .button {
    @apply bg-accent font-poppins font-semibold py-2.5 leading-5 hover:bg-blueHover;
  }
}
